In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
businesses = pd.read_csv("business_list.csv")

In [3]:
businesses.head()

              business_id  review_count  stars state
0  fweCYi8FmbJXHCqLnwuk8w            16    4.0    OH
1  PZ-LZzSlhSe9utkQYU8pFg            40    4.0    NV
2  BvYU3jvGd0TJ7IyZdfiN2Q            16    3.5    NC
3  PkDghu4aan2_wxrhXjTEgg            16    3.5    AB
4  RFbMVekR8lU9tPJ8sWrwHg            18    4.0    ON

In [4]:
business_id = businesses['business_id'].values
print(business_id[0:5])

['fweCYi8FmbJXHCqLnwuk8w' 'PZ-LZzSlhSe9utkQYU8pFg'
 'BvYU3jvGd0TJ7IyZdfiN2Q' 'PkDghu4aan2_wxrhXjTEgg'
 'RFbMVekR8lU9tPJ8sWrwHg']

In [5]:
import pandas as pd
review_reader = pd.read_json('review.json',lines=True,chunksize=1000)

In [8]:
%%time
reviews = [review.loc[review['business_id'].apply(lambda x: x in business_id)] for review in review_reader]

Wall time: 1h 43min 49s

In [11]:
type(reviews)

list

In [12]:
len(reviews)

6685

In [13]:
reviews = pd.concat(reviews)

In [14]:
reviews.shape

(594781, 9)

In [15]:
reviews.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
1002,k2b3niokS_tosjah_rzCPw,5,2017-02-19 06:21:58,2,gi_-cTGatAcR5Ko_AI1Paw,4,I ordered the Heart Shaped pizza and meatball ...,4,uc9ITBuspRFkl-S3Bo90dg
1013,r5PLDU-4mSbde5XekTXSCA,0,2015-04-15 04:50:56,0,vvIzf3pr8lTqE_AOsxmgaA,4,We have been trying Eggplant sandwiches all ov...,0,MAmijW4ooUzujkufYYLMeQ
1016,565uVvO-hFqbajFNkt0hnw,0,2018-10-04 12:44:59,0,sqN2rt4W10h512EtD8ErCg,1,"OMG, Longhitano's is absolutely disgusting! I'...",0,51munej7rdZuB7KfPofhaA
1060,2S6p5ICNswz_EdgcZk76qQ,1,2009-05-20 01:49:32,1,FxOzEjikyAXf7AlNI8FrxA,4,We were looking for Lancasters and ended up he...,2,4rg-rTjYpnEjNOqi-ej4RA
1109,XsSgv3vBOyOBXn3Co8EVIg,1,2015-07-28 08:40:01,1,UjrIOY89To4pp3TSOAPOmQ,4,First time in this place. Pretty impressive. I...,1,LnGDsxHFPhoCKT8sFGaViA

In [16]:
reviews.to_csv('reviews_filtered.csv',index=False)